n8n/recibos-workflow.json
{
  "name": "Ingesta Recibos WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recibos-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook WAHA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "a1b2c3d4-0001-0001-0001-000000000099"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Responder 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-has-media",
              "leftValue": "={{ $json.body.payload.hasMedia }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "¿Tiene imagen?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.WAHA_BASE_URL }}/api/{{ $json.body.session }}/messages/{{ $json.body.payload.id }}/download",
        "options": {
          "response": { "response": { "responseFormat": "file" } }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Descargar imagen (WAHA)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "// Convierte el binario descargado de WAHA a base64\nconst binaryKey = Object.keys($binary)[0];\nconst binaryData = $binary[binaryKey];\nconst base64 = binaryData.data;\nconst mimeType = binaryData.mimeType || 'image/jpeg';\n\nreturn [{\n  json: {\n    ...items[0].json,\n    imagen_base64: `data:${mimeType};base64,${base64}`,\n    session: $('Webhook WAHA').first().json.body.session,\n    from:    $('Webhook WAHA').first().json.body.payload.from,\n    msgId:   $('Webhook WAHA').first().json.body.payload.id,\n  },\n  binary: $binary,\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Preparar imagen base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENAI_BASE_URL }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.MODEL_NAME }}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": { \"url\": \"{{ $json.imagen_base64 }}\" }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"TODO: REEMPLAZA ESTE TEXTO CON TU PROMPT DE EXTRACCIÓN. El modelo debe responder SOLO con JSON válido con los campos: tipo_detectado, monto, fecha (YYYY-MM-DD), confianza (0-1).\"\n        }\n      ]\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"max_tokens\": 512\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Analizar con modelo de visión",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "jsCode": "// Parsea la respuesta JSON del modelo\nconst raw = $json.choices[0].message.content;\nlet parsed;\ntry {\n  const clean = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch(_) {\n  parsed = { tipo_detectado: 'desconocido', monto: null, fecha: null, confianza: 0 };\n}\n\nconst webhook = $('Webhook WAHA').first().json.body;\n\nreturn [{\n  json: {\n    message_id:     webhook.payload.id,\n    remitente:      webhook.payload.from,\n    tipo_detectado: parsed.tipo_detectado ?? null,\n    monto:          parsed.monto          ?? null,\n    fecha:          parsed.fecha          ?? null,\n    confianza:      parsed.confianza      ?? null,\n    raw_json:       parsed,\n    imagen_base64:  $('Preparar imagen base64').first().json.imagen_base64,\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Parsear respuesta del modelo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DB_BFF_URL }}/api/recibos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Guardar recibo en BFF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 200]
    }
  ],
  "connections": {
    "Webhook WAHA": {
      "main": [
        [{ "node": "Responder 200",   "type": "main", "index": 0 }]
      ]
    },
    "Responder 200": {
      "main": [
        [{ "node": "¿Tiene imagen?",  "type": "main", "index": 0 }]
      ]
    },
    "¿Tiene imagen?": {
      "main": [
        [{ "node": "Descargar imagen (WAHA)", "type": "main", "index": 0 }],
        []
      ]
    },
    "Descargar imagen (WAHA)": {
      "main": [
        [{ "node": "Preparar imagen base64", "type": "main", "index": 0 }]
      ]
    },
    "Preparar imagen base64": {
      "main": [
        [{ "node": "Analizar con modelo de visión", "type": "main", "index": 0 }]
      ]
    },
    "Analizar con modelo de visión": {
      "main": [
        [{ "node": "Parsear respuesta del modelo", "type": "main", "index": 0 }]
      ]
    },
    "Parsear respuesta del modelo": {
      "main": [
        [{ "node": "Guardar recibo en BFF", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "a1b2c3d4-0001-0001-0001-000000000000",
  "meta": { "instanceId": "gastos-familiares-local" },
  "tags": []
}
